 .coffee-list { margin-block: 1.6rem; }
.coffee-list dt { font-weight: 700; }
.box-price { font: 2.5rem Georgia, serif; }
.box-price span { font: .8rem Arial, sans-serif; }
.box-list { padding-left: 1.2rem; margin-bottom: 1.8rem; }
.box-list li { margin-bottom: .5rem; }
